---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?location=37.7749295,-122.4194155&sensor=false&timestamp=1362096689
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"dstOffset\" : 0.0,\n   \"rawOffset\" : -28800.0,\n   \"status\"
        : \"OK\",\n   \"timeZoneId\" : \"America/Los_Angeles\",\n   \"timeZoneName\"
        : \"Pacific Standard Time\"\n}\n"
  recorded_at: Fri, 01 Mar 2013 00:11:30 GMT
recorded_with: VCR 2.4.0
